<nav class="navbar fixed-top fixed-header">
  <a class="navbar-brand">Coldpack</a>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a href="#" class="nav-link">Quem somos</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Serviços</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Por que a Coldpack ?</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <p class="title-2">Coldpack</span>
  <p class="subtitle">Soluções IoT para modernizar e aperfeiçoar seu negócio</p>

  <div class="d-flex justify-content-end">
    <img src="/imgs/header/header-undraw.png" />
  </div>
</div>