<div class="row my-3">
  <div class="col-6">
    <h2 class="title1 mb-3" >Uma plataforma de serviços IoT</h2>
    <span class="description">A Coldpack oferece serviços de automação comercial que visam potencializar as tarefas do seu negócio. Por meio dela, é possível visualizar dispositivos, alterar seu funcionamento, e gerar estatísticas com base em todo ecosistema da plataforma.</span></div>
  <div class="col-6"><img src="/imgs/main/main-undraw1.png" /></div>
</div>

<div class="row my-3">
  <div class="col-6"><img src="/imgs/main/main-undraw1.png" /></div>
  <div class="col-6">
    <h2 class="title1 mb-3" >Uma plataforma de serviços IoT</h2>
    <span class="description">A Coldpack oferece serviços de automação comercial que visam potencializar as tarefas do seu negócio. Por meio dela, é possível visualizar dispositivos, alterar seu funcionamento, e gerar estatísticas com base em todo ecosistema da plataforma.</span></div>
</div>

<div class="row my-3">
  <div class="col-6">
    <h2 class="title1 mb-3" >Uma plataforma de serviços IoT</h2>
    <span class="description">A Coldpack oferece serviços de automação comercial que visam potencializar as tarefas do seu negócio. Por meio dela, é possível visualizar dispositivos, alterar seu funcionamento, e gerar estatísticas com base em todo ecosistema da plataforma.</span></div>
  <div class="col-6"><img src="/imgs/main/main-undraw1.png" /></div>
</div>

<div class="row my-3">
  <div class="col-6"><img src="/imgs/main/main-undraw1.png" /></div>
  <div class="col-6">
    <h2 class="title1 mb-3" >Uma plataforma de serviços IoT</h2>
    <span class="description">A Coldpack oferece serviços de automação comercial que visam potencializar as tarefas do seu negócio. Por meio dela, é possível visualizar dispositivos, alterar seu funcionamento, e gerar estatísticas com base em todo ecosistema da plataforma.</span></div>
</div>